/* Ajout des polices */
@import url(fonts.css);

/* Ajout des styles */
section {
    background: #FBE7C2;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px var(--noir);
}

section h2 {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 300;
    margin-bottom: 15px;
}

.profil p {
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.mdp form {
    margin-top: 20px;
}

.mdp input[type="password"] {
    width: 97%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.mdp input[type="submit"] {
    padding: 10px 20px;
    background-color: var(--orange);
    color: var(--blanc);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mdp input[type="submit"]:hover {
    background-color: var(--orange);
}

.decon {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    color: var(--crème);
    text-decoration: none;
    font-family: 'Gotham';
    border: 1px solid var(--crème);
    padding: 8px 16px;
    border-radius: 5px;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.decon:hover {
    color: var(--noir);
    background-color: var(--crème);
    border-color: var(--crème);
}

.profil,
.mdp {
    background-color: var(--blanc);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.profil h2,
.mdp h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.profil p,
.mdp p {
    margin: 8px 0;
}

input[type="password"] {
    width: 97%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid var(--blanc);
}

input[type="submit"] {
    background-color: var(--bleuGris);
    color: var(--blanc);
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1em;
}

/* Media query pour rendre le formulaire plus réactif */
@media screen and (max-width: 768px) {
    .wrap {
        padding: 10px;
    }
    
    .profil,
    .mdp {
        padding: 15px;
    }
}