main {
    background: var(--gris);
    padding: 5em 0 5em 0;
}

.wrap h1 {
    color: var(--crème);
    font-family: 'Kaviron';
    font-weight: 500;
    font-style: normal;
    font-size: 200%;
    padding: 1em 0 1em 0;
}

.wrap h2 {
    color: var(--crème);
    align-items: center;
}