span {
    display: block;
    margin-bottom: 20px;
    font-size: 1.2em;
    color: var(--blanc);
}

h2 {
    font-family: 'Gotham';
    font-style: normal;
    color: var(--crème);
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 24px;
}

ul {
    color: var(--blanc);
    text-align: left;
    margin-left: 40px;
}

iframe {
    margin-top: 30px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    align-content: center;
}
