.container {
    width: 500px;
    height: 600px;
    margin: 0 auto;
    perspective: 800px;
}

.container .card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1.5s;
    transform-style: preserve-3d;
}

.in_team, .a_team {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    backface-visibility: hidden;
}

.card h2 {
    color: var(--Blanc, #FFF);
    text-align: center;
    font-family: Gotham;
    font-size: 28px;
    font-weight: 350;
    margin-top: 40px;
    margin-bottom: 80px;
}

.card input {
    width: 350px;
    height: 50px;
    margin: 0px auto 66px;
    padding-left: 70px;
    display: flex;
    justify-content: center;
    border-radius: 0.9rem;
    border: none;
    background: rgba(215, 215, 215, 0.60);
    color: rgba(255, 255, 255);
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.card .infos {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Blanc, #FFF);
    font-family: Gotham;
    font-size: 15px;
    font-weight: 350;
    gap: 20px;
    margin-bottom: 55px;
}

.card .infos .change {
    background: none;
    border: none;
    color: var(--Orange, #E46B36);
    font-family: Gotham;
    font-size: 15px;
    font-weight: 350;
    cursor: pointer;
}

.in_team {
    background: var(--Bleu-gris, #7D9EA7);
}

.a_team {
    background: var(--Noir, #1D1D1B);
    transform: rotateY(180deg);
}

.container .card form {
    position: relative;
}

.erreur, .succes {
    font-family: Gotham;
    font-size: 14px;
    font-weight: 350;
    text-align: center;
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translateX(-50%);
}