@import url(fonts.css);

/* Style pour la liste des équipes */
h2 {
    font-family: 'Gotham';
    font-style: normal;
    color: var(--crème);
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 24px;
}

.list {
    margin-bottom: 20px;
}

.list table {
    width: 100%;
    border-collapse: collapse;
}

.list th, .list td {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
}

.list td {
    color: var(--blanc);
}

.list th {
    background-color: #f4f4f4;
}

/* Style pour les formulaires d'inscription dans une équipe */
.card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card .registration {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.in_team {
    border-bottom: 1px solid var(--noir);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.card .registration h2 {
    margin-bottom: 10px;
    color: var(--noir);
}

.card .registration form {
    margin-bottom: 20px;
}

.card .registration select,
.card .registration input[type='text'],
.card .registration button {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.card .registration button {
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
}

.card .registration button:hover {
    background-color: #444;
}

.card .registration .infos {
    text-align: center;
}

.card .registration .infos button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #333;
    text-decoration: underline;
}

.card .registration .infos button:hover {
    color: #444;
}
