@import url(fonts.css);

/* Style pour la liste des équipes */
h2 {
    font-family: 'Gotham';
    font-style: normal;
    color: var(--crème);
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Sections */
section {
    margin-bottom: 20px;
}

/* Formulaires */
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input[type='text'],
select {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: var(--noir);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--orange);
}

/* Messages de succès et d'erreur */
.succes,
.erreur {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
}

.succes {
    background-color: #4caf50;
    color: #fff;
}

.erreur {
    background-color: #f44336;
    color: #fff;
}

/* Tableau */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}