/* Ajout des polices */
@import url(fonts.css);

/* Ajout des styles */
footer {
    width: 100%;
    height: 100%;
    background: var(--bleuGris);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

footer nav {
    display: flex;
    justify-content: center;
    margin-block: 35px 18px;
}

footer nav ul {
    display: flex;
    gap: 190px;
}

footer nav ul li a {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2em;
    color: var(--blanc);
    text-decoration: none;
    transition: .3s ease-in-out;
}

footer nav ul li a:hover {
    color: var(--crème);
}

footer .arrow {
    width: 40px;
    height: 40px;
    display: flex;
    background: var(--blanc);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25%;
    left: 88%;
    transition: .3s ease-in-out;
}

footer .arrow img {
    transition: .3s ease-in-out;
}

footer .arrow:hover {
    background: var(--crème);
}

footer .arrow:hover img{
    transform: translateY(-2px);
}

footer p {
    color: var(--blanc);
    font-size: .8em;
    font-family: Gotham;
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
}