/* Ajout des polices */
@import url(fonts.css);

/* Ajout des styles */
a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 100%;
    display: flex;
    color: var(--blanc);
    background: var(--noir);
    padding-top : 2em;
    padding-bottom : 2em;
}

header .logo {
    text-align: center;
}

header .logo img {
    width: 50%;
    height: 50%;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header nav {
    display: flex;
}

header nav ul {
    display: flex;
}

header nav .mid li a {
    font-family: 'Gotham';
    font-weight: 300;
    font-style: normal;
    color: var(--blanc);
    padding : 0 2em;
}

header nav .mid li a:hover {
    color: var(--crème);
}

header nav .right li a {
    font-family: 'Gotham';
    font-weight: bold;
    font-style: italic;
    color: var(--blanc);
    padding : 0 1em;
}

header nav .right li a:hover {
    color: var(--crème);
}
