/* Reset CSS */
body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
}

.wrap {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

section {
    margin-bottom: 30px;
}

h1 {
    margin-bottom: 15px;
    font-size: 28px;
}

h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

p {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    display: block;
}

/* Style spécifique pour chaque section */
#sponsor,
#legal_information,
#about {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}