section {
    margin-bottom: 30px;
}

h2 {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 24px;
}

p {
    color: var(--blanc);
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
}

/* Style spécifique pour chaque section */
#sponsor,
#legal_information,
#about {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}