/* CSS pour le conteneur principal */
.wrap {
    display: flex;
    justify-content: space-between;
}

/* CSS pour le lecteur vidéo */
#player {
    width: 70%;
}

/* CSS pour la section des commentaires */
#live-chat {
    width: 25%;
    border: 1px solid #ccc;
    padding: 10px;
    height: 100%;
    overflow-y: auto;
}
