.films {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 20px;
    column-gap: 20px;
}

.films .film .affiche {
    position: relative;
    width: 17vw;
    height: 24vw;
    overflow: hidden;
}

.films .film .affiche:hover form{
    z-index: 0;
}

.films .film .affiche form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    width: 110%;
    height: 110%;
    z-index: -1;
    transition: .3s ease-in-out;
}

.films .film .affiche form input[type="submit"] {
    background: var(--orange);
    color: var(--blanc);
    font-size: 1.5rem;
    font-family: Gotham;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.films .film .affiche img {
    width: 100%;
    height: 100%;
    transition: .3s ease-in-out;
}

.films .film .affiche:hover img {
    scale: 1.1;
}

.films .film .nom {
    font-size: 1.5rem;
    font-family: Gotham;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    color: var(--blanc);
    display: flex;
    justify-content: center;
}